*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100%;
    
}

/* Seccion NavBar */

.sectionNav{
    background-color: #171717;
}

.sectionNav ul li .nav-link:hover{
    color:rgb(194, 193, 193) !important;
}

/* Seccion Inicio */
.sectionInicio{
    background-color: #171717;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 200px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.sectionInicio div{
    padding: 30px;
}
.sectionInicio div .titulo{
    font-family: monospace;
    font-size: 33px;
}

.sectionInicio div .escritura {
    font-family: monospace;
    font-size: 33px;
    padding: 20px;
}

/* .sectionInicio div .escritura{
    margin-bottom: 50px;
    width: 900px;
    animation: escribiendo 6s steps(20) infinite,
    pleca 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px;
    font-family: monospace;
    font-size: 33px;
    margin: auto;
    
}


@keyframes escribiendo {
    0%,
    100%{
        width: 0;
    }
    40%,
    60%{
        width: 900px;
    }
    90%{
        width: 0;
    }
}

@keyframes pleca{
    50%{
        border-color: transparent;
    } */
/* } */

.sectionInicio a{
    border: 1px rgb(212, 212, 212) solid;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: #171717;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
}

.sectionInicio a:hover{
    background-color: #171717;
    color: rgb(212, 212, 212);
}



/* Seccion Sobre Mi */

.sectionSobreMi{
    display: flex;
    height: 100vh;
    width: 100%;
    
}

.sectionSobreMi .imgSobreMi{
    width: 30vw;
    
}

.sectionSobreMi .imgSobreMi img{
    width: 500px;
    border-radius: 20px;
    margin: 20px;
}


.sectionSobreMi .datosSobreMi{
    width: 50vw;
    margin: auto;
    padding: 50px;
    
}

.sectionSobreMi .datosSobreMi div p {
    text-align: justify;
}
.sectionSobreMi .datosSobreMi div a{
    
    text-decoration: none;
    color: #171717;
    font-size: 30px;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
}

.sectionSobreMi .datosSobreMi div a:hover{
    color: rgb(255, 255, 255);
    background-color: #171717;
    padding: 3px;
    border-radius: 5px;
}

.sectionSobreMi .datosSobreMi div .cv{
    border: 1px rgb(255, 255, 255) solid;
    background-color: #171717;
    text-decoration: none;
    color: rgb(212, 212, 212);
    padding: 5px;
    font-size: 20px;
    
}

.sectionSobreMi .datosSobreMi div .cv:hover{
    background-color: rgb(255, 255, 255);
    color: #171717;
    border: 1px #171717 solid;
}

/* Seccion Habilidades */

.sectionHabilidades{
    background-color: #171717;
    height: 100vh;
    width: 100%;
    color: rgb(212, 212, 212);
    text-align: center;
}

.sectionHabilidades h1{
    padding: 20px;
    
}


.sectionHabilidades div{
    display: flex;
    
}

.sectionHabilidades div .skills{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: auto;
    font-size: 30px;
}

.sectionHabilidades div .skills i{
    font-size: 70px;
}

.sectionHabilidades div .skills div{
    display: block;
    padding: 5px;
}

/* Seccion Proyectos */

.sectionProyectos{
    height: 100%;
    width: 100%;
    text-align: center;
}

.sectionProyectos h1{
    padding: 30px;
    color: #171717;
}

.sectionProyectos div h1{
    padding: 30px;
    color: rgb(212, 212, 212);
}

.sectionProyectos div{
    display: flex;
    justify-content: space-around;
    
}

.sectionProyectos div a img{
    width: 400px;
    border-radius: 20px;
    padding: 10px;
}


.sectionProyectos div a img:hover{
    width: 400px;
    opacity: 0.7;
    
}
.sectionProyectos div div{
    flex-direction: column;
    /* box-shadow: #939292 4px 8px ; */
    border-radius:20px;
    /* background-color: rgb(237, 237, 237); */
    background-color: #171717;
    margin: 20px;
}

.sectionProyectos div div div{
    flex-direction: row;
    font-size: 30px;
    justify-content: center;
    border: #403f3f 0.5px solid;
}

.sectionProyectos div div div i{
    padding: 10px;
    
}

/* Seccion Contacto */

.sectionContacto{
    background-color: #171717;
    height: 97vh;
    width: 100%;
    color: rgb(212, 212, 212);
    text-align: center;
    padding: 20px;
}

.sectionContacto div form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContacto div form input ,.sectionContacto div form textarea {
    width: 400px;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    outline: none;
    border: none;
    resize: none;
}

.sectionContacto div form button{
    width: 400px;
    border: 1px rgb(212, 212, 212) solid;
    background-color: rgb(255, 255, 255);
    color: #171717;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    margin: 15px;    
}

.sectionContacto div form button:hover{
    background-color: #171717;
    color: rgb(212, 212, 212);
}

#mailSend{
    opacity: 0;
}

/* Seccion Footer */

.sectionFooter{
    background-color: #171717;
    color: rgb(212, 212, 212);
    text-align: center;
    padding: 5px;
}

.sectionFooter span a{
    text-decoration: none;
    color: #fff;
}

/* Responsive */

@media (max-width: 450px){
    .sectionHabilidades{
        background-color: #171717;
        height: 100vh;
        width: 100%;
        color: rgb(212, 212, 212);
        text-align: center;
    }
    .sectionHabilidades div .skills{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: auto;
        font-size: 30px;
    }
    
    .sectionHabilidades div .skills i{
        font-size: 30px;
    }
    
    .sectionHabilidades div .skills div{
        display: block;
        padding: 5px;
    }
    .sectionHabilidades div .skills div img{
        width: 30px;
    }
    
    .sectionProyectos div div{
        flex-direction: column;
        border-radius:20px;
        background-color: #171717;
        margin: 20px;
        width: 340px;
    }
    .sectionProyectos div a{
        width: 340px;
    }
    .sectionProyectos div div a img{
        width: 300px;
        border-radius: 20px;
        padding: 0px;
    }
    
    
    .sectionProyectos div div a img:hover{
        width: 300px;
        opacity: 0.7;
        
    }
    .sectionProyectos div div div{
        flex-direction: row;
        font-size: 30px;
        justify-content: center;
        border: #403f3f 0.5px solid;
        width: 300px;
    }
    
    .sectionContacto{
        background-color: #171717;
        height: 97vh;
        width: 100%;
        color: rgb(212, 212, 212);
        text-align: center;
        padding: 20px;
    }
    
    .sectionContacto div form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sectionContacto div form input ,.sectionContacto div form textarea {
        width: 350px;
        padding: 10px;
        border-radius: 15px;
        margin: 10px;
        outline: none;
        border: none;
        resize: none;
    }
    
    .sectionContacto div form button{
        width: 350px;
        border: 1px rgb(212, 212, 212) solid;
        background-color: rgb(255, 255, 255);
        color: #171717;
        padding: 5px;
        font-size: 20px;
        border-radius: 10px;
        margin: 15px;    
    }
}


@media (max-width: 600px){
    .sectionInicio{
        text-align: center;
        color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 0px;
    }
    .sectionInicio div{
        height: 100%;
    }

    .sectionInicio div .titulo{
        margin-top: 100px;
    }
    .sectionInicio div .escritura {
        font-family: monospace;
        font-size: 33px;
        padding: 20px;
    }
    .sectionInicio a{
        border: 1px rgb(212, 212, 212) solid;
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        color: #171717;
        padding: 10px;
        font-size: 25px;
        width: 80vw;
    }      

    .sectionSobreMi{
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100%;
        
    }
    
    .sectionSobreMi .imgSobreMi{
        width: 0vw;
        display: none;
    }
    
    .sectionSobreMi .imgSobreMi img{
        padding: 0px;
        width: 0px;
        height: 0px;
        display: none;
    }
    
    
    .sectionSobreMi .datosSobreMi{
        width: 100vw;
        margin: auto;
        padding: 50px;
        
    }
    .sectionHabilidades{
        background-color: #171717;
        height: 100vh;
        width: 100%;
        color: rgb(212, 212, 212);
        text-align: center;
    }
    
    
    .sectionHabilidades div .skills{
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: auto;
        font-size: 20px;
    }
    .sectionProyectos div{
        display: flex;
        flex-direction: column;
        
    }
    
    .sectionProyectos div a img{
        width: 400px;
        border-radius: 20px;
        padding: 10px;
    }
    
    
    .sectionProyectos div a img:hover{
        width: 400px;
        opacity: 0.7;
        
    }
    .sectionProyectos div div{
        flex-direction: column;
        border-radius:20px;
        background-color: #171717;
        margin: 20px;
    }
    
    .sectionProyectos div div div{
        flex-direction: row;
        font-size: 30px;
        justify-content: center;
        border: #403f3f 0.5px solid;
    }
    
    .sectionProyectos div div div i{
        padding: 10px;
        
    }
    
    
}